# =====================================
# POSTGRES DATABASE
# =====================================

# Senha do usuário postgres
# Usada pelo container do banco e pelo backend
POSTGRES_PASSWORD=password


# =====================================
# APPLICATION
# =====================================

PROJECT_NAME=RESISUS API
VERSION=1.0.0
ENVIRONMENT=development


# =====================================
# SECURITY - JWT
# =====================================

# Chave usada para assinatura dos tokens JWT
# Em produção deve ser alterada para uma chave segura
SECRET_KEY=minha_chave_super_segura


# Algoritmo utilizado na criação do JWT
ALGORITHM=HS256


# Tempo de validade do token em minutos
ACCESS_TOKEN_EXPIRE_MINUTES=60


# =====================================
# DATABASE CONNECTION
# =====================================

# Dentro do Docker o host é o nome do serviço:
# db
#
# Não usar localhost dentro dos containers

DATABASE_URL=postgresql://postgres:password@db:5432/resisus_db


# =====================================
# MOCK / SEED
# =====================================

# Cria usuário e dados de demonstração automaticamente
MOCK_ENABLED=True


# =====================================
# FRONTEND
# =====================================

# URL pública usada pelo Next.js
# O docker-compose sobrescreve usando http://api:8000
NEXT_PUBLIC_API_URL=http://localhost:8000


# =====================================
# CORS
# =====================================

BACKEND_CORS_ORIGINS=["http://localhost:3000"]