# APPLICATION
PROJECT_NAME=RESISUS API
VERSION=1.0.0
ENVIRONMENT=development


# SECURITY
SECRET_KEY=your_secret_key_here #Senha para criação de token JWT
ALGORITHM=HS256 #Tipo de critografia
ACCESS_TOKEN_EXPIRE_MINUTES=60 #Tempo de Sessão


# DATABASE
DATABASE_URL=postgresql://postgres:password@localhost:5432/resisus_db 


# CORS
BACKEND_CORS_ORIGINS=["http://localhost:3000"]